@import './variables/index.scss';
@import './variables/colors.scss';

@font-face {
    font-family: 'Metropolis';
    src: url($ASSETS_PATH + '/fonts/Metropolis-Regular') format('truetype');
}

.metro-font {
    font-family: "Metropolis";
}

.font-bold {
    font-weight: 800 !important;
}

.text-light-grey {
    color: $light-grey-color;
}

.text-aqua {
    color: $aqua-color;
}