$dark-blue-color: hsl(198, 100%, 34%);
$light-blue-color: hsl(198, 66%, 56%);
$aqua-color: hsl(198, 57%, 85%);
$dark-gray-color: hsl(198, 0%, 19%);
$grey-color: hsl(198, 0%, 60%);
$light-grey-color: hsl(198, 0%, 87%);