<ng-container *ngIf="!(sessionInitialized$ | async); else game">
  <ng-container *ngTemplateOutlet="startSessionButton"></ng-container>
</ng-container>

<ng-container *ngIf="(userLost$ | async) && (sessionInitialized$ | async)">
  <p> You have lost :C</p>
  <ng-container *ngIf="!currentUser">
    <span>In order to save your score you have to login to system!</span>
  </ng-container>
  <ng-container *ngTemplateOutlet="startSessionButton"></ng-container>
</ng-container>

<ng-template #game>
  <div *ngIf="roundTableData$ | async as board" class="grid-container">
    <ng-container *ngIf="viewMarks$ | async as marks">
      <ng-container *ngFor="let userMark of board; let ind = index">
        <div class="grid-cell" [class.disabled]="userLost$ | async" (click)="cellClicked(ind)">
          <span *ngIf="board[ind]" class="mark"> {{ marks[userMark] }}</span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #startSessionButton>
  <button type="button" class="btn btn-primary start-session" (click)="start()">Start new game session</button>
</ng-template>
